<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/js/jquery.min.js"></script>
    <title>Chat Boat</title>
</head>
<body>
    <h1>Chatting</h1>
    <input type="text" id="message" placeholder="send message" />
    <button id="sendBtn">Send</button>


    <form action="" id="message-form">
        <input type="text" name="msg" placeholder="message">
        <button type="submit" id="submit-btn">Submit</button>
    </form>

    <button type="submit" id="send-location">Send Location</button>

    <div id="messages"></div>


    <script src="/socket.io/socket.io.js"></script>
    {{!-- <script type = "text/javascript" src="/utilfunction/index.js"></script> --}}
    {{#each scripts}}
    <script src="{{.}}"></script>
    {{/each}}
</body>
</html>